<div class="container">
    <div class="row" >
        <div class="col-sm-1"></div>
        <div class="col-sm-5 text-center">
            <div class="fw-card my-2">
                <div class="row">
                    <div class="col-sm-4 align-content-center">
                        <img src="../../../../assets/oracle-logo.jpg" height="70px" width="70px">
                        <br>
                        <small style="letter-spacing: 5px;"> ORACLE </small>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-header"></h4>
                        <span class="badge bg-primary my-3" style="font-size: medium;">Associate Application Developer</span>
                        <br>
                        <small>( Full Time Employment )</small>
                        <br>
                        <span class="badge bg-primary mt-3" style="font-size: small;">Aug, 2023</span>
                        <span class="mx-2"><-- --></span>
                        <span class="badge bg-primary" style="font-size: small;">Present</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-center">
            <div class="fw-card my-2">
                <div class="row">
                    <div class="col-sm-4 align-content-center">
                        <img src="../../../../assets/oracle-logo.jpg" height="70px" width="70px">
                        <br>
                        <small style="letter-spacing: 5px;"> ORACLE </small>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-header"></h4>
                        <span class="badge bg-primary my-3" style="font-size: medium;">Project Intern</span>
                        <br>
                        <small>( During B.Tech )</small>
                        <br>
                        <span class="badge bg-primary mt-3" style="font-size: small;">Jan, 2023</span>
                        <span class="mx-2"><-- --></span>
                        <span class="badge bg-primary" style="font-size: small;">Jul, 2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="fw-card my-2 text-center">
                <div class="row">
                    <div class="col-sm-4 align-content-center">
                        <img src="../../../../assets/best-roomies-log.jpg" height="70px" width="70px">
                        <br>
                        <small style="letter-spacing: 2px;"> BEST ROOMIES </small>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-header"></h4>
                        <span class="badge bg-primary my-3" style="font-size: medium;">Angular Full Stack Web Developer</span>
                        <br>
                        <small>( During B.Tech )</small>
                        <br>
                        <span class="badge bg-primary mt-3" style="font-size: small;">Jun, 2022</span>
                        <span class="mx-2"><-- --></span>
                        <span class="badge bg-primary" style="font-size: small;">Sep, 2022</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="fw-card my-2 text-center">
                <div class="row">
                    <div class="col-sm-4 align-content-center">
                        <img src="../../../../assets/masterscoding-logo.jpg" height="70px" width="70px">
                        <br>
                        <small style="letter-spacing: 2px;"> MASTERS CODING </small>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-header"></h4>
                        <span class="badge bg-primary my-3" style="font-size: medium;">Student Mentor</span>
                        <br>
                        <small>( During B.Tech )</small>
                        <br>
                        <span class="badge bg-primary mt-3" style="font-size: small;">Jan, 2022</span>
                        <span class="mx-2"><-- --></span>
                        <span class="badge bg-primary" style="font-size: small;">May, 2022</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
            <div class="fw-card my-2 text-center">
                <div class="row">
                    <div class="col-sm-4 align-content-center">
                        <img src="../../../../assets/fosterate-logo.jpg" height="70px" width="70px">
                        <br>
                        <small style="letter-spacing: 3px;"> FOSTERATE </small>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-header"></h4>
                        <span class="badge bg-primary my-3" style="font-size: medium;">Angular Full Stack Web Developer</span>
                        <br>
                        <small>( During B.Tech )</small>
                        <br>
                        <span class="badge bg-primary mt-3" style="font-size: small;">Jan, 2021</span>
                        <span class="mx-2"><-- --></span>
                        <span class="badge bg-primary" style="font-size: small;">Aug, 2021</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            