<div class="container mt-5">
    <div class="row" >
        <div class="col-sm-1"></div>
        <div class="col-sm-5 text-center">
            <div class="fw-card my-2">
                <div class="row">
                    <div class="col-sm-4 align-content-center">
                        <img src="../../../../assets/programming.jpg" height="70px" width="70px">
                        <br>
                        <small style="letter-spacing: 3px;"> <b>Programming</b></small>
                    </div>
                    <div class="col-sm-8 align-content-center">
                        <b>Python</b> - <b>C++</b> - <b>Java</b> - <b>C</b>
                        <br>
                        <b>Java Script</b> - <b>Type Script</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-center">
            <div class="fw-card my-2">
                <div class="row">
                    <div class="col-sm-5 align-content-center">
                        <img src="../../../../assets/cloud.png" height="70px" width="100px">
                        <br>
                        <small style="letter-spacing: 2px;"> <b>Integration Cloud</b></small>
                    </div>
                    <div class="col-sm-7 align-content-center">
                        <b>OIC (Oracle Integration Cloud)</b>
                        <br>
                        <b>SOA</b> - <b>ERP</b> - <b>Fusion Services</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-1"></div>
        <div class="col-sm-5 text-center">
            <div class="fw-card my-2">
                <div class="row">
                    <div class="col-sm-5 align-content-center">
                        <img src="../../../../assets/web-development.jpg" height="70px" width="100px">
                        <br>
                        <small style="letter-spacing: 1px;"> <b>Web Development</b></small>
                    </div>
                    <div class="col-sm-7 align-content-center">
                        <b>HTML</b> - <b>CSS</b> - <b>SCSS</b> 
                        <br> 
                        <b>Bootstrap</b> - <b>Mongo DB</b>
                        <br>
                        <b>Java Script</b> - <b>Type Script</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-center">
            <div class="fw-card my-2">
                <div class="row">
                    <div class="col-sm-5 align-content-center">
                        <img src="../../../../assets/web-application-framework.jpg" height="70px" width="110px">
                        <br>
                        <small style="letter-spacing: 1px;"> <b>Web Frameworks</b></small>
                    </div>
                    <div class="col-sm-7 align-content-center">
                        <b>Angular</b> - <b>React</b> - <b>Node</b>
                        <br>
                        <b>Firebase</b> - <b>Cloud Hosting</b> - <b>Deployment Services</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-1"></div>
        <div class="col-sm-5 text-center">
            <div class="fw-card my-2">
                <div class="row">
                    <div class="col-sm-5 align-content-center">
                        <img src="../../../../assets/tools.jpg" height="70px" width="80px">
                        <br>
                        <small style="letter-spacing: 1px;"> <b>Tools</b></small>
                    </div>
                    <div class="col-sm-7 align-content-center">
                        <b>Postman API</b> - <b>Soap UI</b> 
                        <br> 
                        <b>VS Code</b> - <b>Git </b> - <b>SVN</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-center">
            <div class="fw-card my-2">
                <div class="row">
                    <div class="col-sm-5 align-content-center">
                        <img src="../../../../assets/area-of-interest.png" height="70px" width="100px">
                        <br>
                        <small style="letter-spacing: 1px;"> <b>Area of Interests</b></small>
                    </div>
                    <div class="col-sm-7 align-content-center">
                        <b>Full Stack Dev</b> - <b>AI / ML</b>
                        <br>
                        <b>Algo Design</b> - <b>Cloud / Fusion Services</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>