<div class="container mt-4">
    <div class="row my-5">
        <div class="col-sm-4 mt-3 text-center">
            <img src="../../../../assets/profile.jpg" height="350px" width="350px" alt="about" class="login-card">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-7 text-center">
            <h2 class="mt-4 mt-md-0" style="letter-spacing: 5px;">Hello, I'm<b style="background-color: #66cccc; padding: 5px; border-radius: 12px;">Sateesh</b></h2>
            <marquee scrollamount="10" class="mt-2"><b>Welcome to my Personal Portfolio</b></marquee>
            <p class="mb-0">Graduated in Computer Science from VNR VJIET, Hyderabad in 2023. Being passionate to coding made me drive through Web Development and Machine Learning. This continuous learning in Web Technology made me earn an internship during my II year in college. Later on, I got a mentorship oppurtunity in Web Development to guide 60 students. Upon completion, I got a 4 month Internship oppurtunity as an Angular Full Stack Developer. During the final year of course, I was placed in Oracle with an Internship & Full Time Employment Offer.</p>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <div class="fw-card my-2 text-center">
                        <label class="fw-bold">
                            <a class="nav-link" href="https://www.linkedin.com/in/sateesh-balaga-816sb/" target="_blank"><img src="../../../../assets/linkedin.svg" height="50px"></a>
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="fw-card my-2 text-center">
                        <label class="fw-bold">
                            <a class="nav-link" href="https://github.com/hseetas25" target="_blank"><img src="../../../../assets/github.svg" height="50px"></a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>